body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 700px;
    margin: 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
}

.header-text {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.lead-text {
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
}

.button-primary {
    background-color: #1DA1F2;
    color: #fff;
    padding: 13px 32px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button-primary:hover {
    background-color: #1c89e6;
}