

body {
    background-image: url('bg.jpg');     
    background-size: cover;
    font-family: Arial, sans-serif;
}

.box {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent */
    padding: 50px;
    border: 5px solid rgba(255, 255, 255, 0.8); /* Semi-transparent*/
    border-radius: 10px;
    max-width: 650px;
    margin-top: 300px; 
    margin-left: auto; 
    margin-right: auto; 
}


.container {
    text-align: center;
}

.header-text {
    font-size: 40px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; 
}

.lead-text {
    font-size: 22px; 
    color: #555; 
    margin-bottom: 30px; 
}

.button-primary {
    background-color: #1DA1F2;
    color: #fff;
    padding: 15px 35px; 
    border: none;
    border-radius: 25px; 
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-primary:hover {
    background-color: #1c89e6;
}